body {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.522);
    background-size: cover;
    padding: 130px;
}

.head {
    color: tomato;
    width: 50%;
    /* text-transform: uppercase; */
    font-weight: bolder;
    background-color: white;
    padding: 20px;
}

.p {
    color: white;
    font-size: 15px;
    margin-bottom: 20px;
}

.displayFruitNames {
    font-weight: bold;
    color: white;
    /* font-size: larger; */
    display: block;
    padding: 10px;
    margin-bottom: 120px;
    text-decoration: none;
}

.displaySearch {
    font-weight: bold;
    color: darkkhaki;
    /* font-size: larger; */
    display: block;
    padding: 10px;
    text-decoration: none;
}

.displayFruit {
    font-size: larger;
    padding-top: 20px;
    margin-bottom: 50px;
}

.inputs {
    padding: 20px;
    margin-bottom: 10px;
    /* width: 50%;
    margin:auto */
}

.addThemFruits {
    color: white;
    font-weight: bolder;
}

.err {
    color: pink;
    font-size: 15px;;
}

.fruitName {
    padding: 10px;
    margin-bottom: 10px;
}

.fruitImage, .search {
    padding: 10px;
}

.addFruit, .searchBtn {
    background-color: tomato;
    color: white;
    padding: 5px;
    border: 3px solid white;

    font-size: medium;
    font-weight: bolder;
    width: 150px;
    margin: 12px;
}

.tests {
    text-decoration: none;
    background-color: tomato;
    color: white;
    padding: 20px;
    border: 3px solid white;
    font-size: medium;
    font-weight: bolder;
    width: 250px;
    margin-top: 100px;
}

.searchBar {
    align-self: t;
}
